version: "3.8"

services:
  test:
    build: .
    command: ["make", "test"]
    volumes:
    - .:/app
    env_file:
      - .env.dev

  is-alive-check:
    build: .
#    volumes:
#      - .:/app
    env_file:
      - .env.dev
    depends_on:
      - db
      - zookeeper
      - kafka

  is-alive-collector:
    build: .
    command: ["python", "-m", "is_alive.interface.cli.collect_check_results"]
    volumes:
      - ./src:/app
    env_file:
      - .env.dev
    depends_on:
      - db
      - zookeeper
      - kafka

  db:
    image: postgres
    restart: always
    environment:
      POSTGRES_USER: is_alive_user
      POSTGRES_PASSWORD: example
      POSTGRES_DB: is_alive

  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    depends_on:
      - kafka
    ports:
    - "8080:8080"
    environment:
      - KAFKA_CLUSTERS_0_NAME=local
      - KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS=kafka:9092
      - KAFKA_CLUSTERS_0_ZOOKEEPER=zookeeper:2181

  zookeeper:
    image: docker.io/bitnami/zookeeper:3
    ports:
      - "2181:2181"
    volumes:
      - "zookeeper_data:/bitnami"
    environment:
      - ALLOW_ANONYMOUS_LOGIN=yes

  kafka:
    image: docker.io/bitnami/kafka:2
    ports:
      - "9092:9092"
    volumes:
      - "kafka_data:/bitnami"
    environment:
      - KAFKA_CFG_ZOOKEEPER_CONNECT=zookeeper:2181
      - ALLOW_PLAINTEXT_LISTENER=yes
    depends_on:
      - zookeeper

  adminer:
    image: adminer
    restart: always
    ports:
      - 8081:8080

volumes:
  zookeeper_data:
    driver: local
  kafka_data:
    driver: local